.index-body {
    background-image: url("LC.png");
    background-size: cover;
    
    background-repeat: no-repeat;
    padding: 10px;
}

.index-body h1 {
    font-size: 70px;
    color: black;
}
.index-body a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.LivingCulture {
    text-align: center;
    
    justify-items: center;
    background-color: #ffc200;
    height: 170px;
}
.LivingCulture a:hover {
    color: black;
}
.LivingCulture div {
    word-spacing: 10px;
}
.upper-container {
    align-items: center;
}
.lower-container {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.box1 {
    display: flex;
    color: white;
    width: 500px;
    padding: 10px;
    margin: 10px;
    box-shadow: #ffc200;
    outline: solid;
    columns: 1;
}
.box1 button {
    color: white;
    background-color: black;
    font-size: large;
    font-style: italic;
    text-decoration: none;
}